@import url('https://fonts.google.com/specimen/Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial;   
}

:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    --VeryDarkBlue: hsl(234, 12%, 34%);
    --GrayishBlue: hsl(229, 6%, 66%);
    --VeryLightGray: hsl(0, 0%, 98%);
}
body{
    background-color: var(--VeryLightGray);
}
main{
    width: 100%;
    height: 100vh;    
    text-align: center;
    padding: 1.5% 0%;

    
}
h1{
    font-weight: 200;
    color: var(--GrayishBlue);
}
h2{
    font-weight: 700;
    color: var(--VeryDarkBlue);
    margin: 10px;
    font-size: 2em;
}
p{
    font-weight: 200;
    color: var(--GrayishBlue);
    word-wrap: break-word;
    padding: 0 32%;
    line-height: 1.5;
}
section{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2% 5%;
}
.col1{
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col2{
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}
.col3{
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 20vw;
    background-color: #fff;
    display: flex;
    flex-direction:column;  
    box-shadow: 0 13px 20px -7px var(--GrayishBlue);     
    border-radius: 10px; 
    transition: all 0.5s;
    cursor: pointer;
    user-select: none;
}
.card .content{
    padding: 8% 10%;
    display: flex;
    flex-direction:column;    
    justify-content: space-around;
    text-align: start;
    gap: 15px;

}
.card h3{
    font-weight: 700;
    color: var(--VeryDarkBlue);
}
.card p{
    padding: 0;
    font-size: 0.9em;
}
.col1 .card:hover:before{
    animation: animate 0.7s ease-out 1 ;
}

.col2 .card:hover:before{
    animation: animate 0.7s ease-out 1 ;
}

.col3 .card:hover:before{
    animation: animate 0.7s ease-out 1 ;
}
.card:hover{
    transform: scale(1.1);
}
.col1 .card::before{
    content: '';
    width: 100%;
    height: 5px;
    background-color: var(--Cyan);   
    transition: 0.5s;
    border-top-right-radius: 10px; 
    border-top-left-radius: 10px; 
}
.col1 .card span{
    background: url(images/icon-supervisor.svg) no-repeat center center;
    background-size: contain;
    width: 50px;
    height: 50px;
    margin-left: auto;
}

.col3 .card::before{
    content: '';
    width: 100%;
    height: 5px;
    background-color: var(--Blue);   
    transition: 0.5s;
    border-top-right-radius: 10px; 
    border-top-left-radius: 10px; 
}
.col3 .card span{
    background: url(images/icon-team-builder.svg) no-repeat center center;
    background-size: contain;
    width: 50px;
    height: 50px;
    margin-left: auto;
}

.col2 .card:nth-of-type(1):before{
    content: '';
    width: 100%;
    height: 5px;
    background-color: var(--Red);   
    transition: 0.5s;
    border-top-right-radius: 10px; 
    border-top-left-radius: 10px; 
}
.col2 .card:nth-of-type(1) span{
    background: url(images/icon-team-builder.svg) no-repeat center center;
    background-size: contain;
    width: 50px;
    height: 50px;
    margin-left: auto;
}

.col2 .card:nth-of-type(2):before{
    content: '';
    width: 100%;
    height: 5px;
    background-color: var(--Orange);   
    transition: 0.5s;
    border-top-right-radius: 10px; 
    border-top-left-radius: 10px; 
}
.col2 .card:nth-of-type(2) span{
    background: url(images/icon-karma.svg) no-repeat center center;
    background-size: contain;
    width: 50px;
    height: 50px;
    margin-left: auto;
}
@keyframes animate {
    from{
        width: 0%;
    }to{
        width: 100%;
    }
    
}


@media only screen and (max-width: 768px){
    
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 0%;
    gap: 25px;
}
.col1{
    width: 100%;
}

.col2{
    width: 100%;
}
.col3{
    width: 100%;
}

.card{
    width: 70vw;    
}
}

@media only screen and (max-width: 375px){
    
.card{
    width: 80vw;    
}
h1{
    font-size: 1.5em;
}

h2{
    font-size: 1.5em;
}
p{
    padding: 0% 10%;
    margin-bottom: 50px;
}
}




